/* General styles */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Allerta', sans-serif;
    line-height: 1.5em;
}

body{
    background: #0079bf
}
  
/* Header styles */

.up-style{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #0067a3;
    font-size: 3em;
    color: #ffffff;
}

/* Section general styles */

.container{
    width: 95%;
    padding: 1em 2em;
    box-sizing: border-box;
}

.sub-container{
    width: 20%;
    box-sizing: border-box;
}

/* Hide span style */

#btn-new-list{
    box-sizing: border-box;
    width: 5em;
    height: 1.5em;
    font-size: 0.8em; 
    background-color: #5aac44;
    color: #ffffff;
    border: none;
    border-radius: 0.3em;
} 

#new-list{
    box-sizing: border-box;
    width: 15em;
    height: 2em;
    font-size: 1em; 
    background-color: #06598a;
    color: #ffffff;
    border: none;
    border-radius: 0.3em;
    padding-left: 1em;
    text-align: left
} 

#new-list:hover{
    background-color: #094a70;
    color: #ffffff;
}


/* Insert textArea style */

textarea{  
    width: 100%;
    border-radius: 0.3em;
    background: #d7d8da;
}

/* Insert cointainers styles */

#container-list-one{
    width: 20%;
    padding: 0.5em;
    /* box-sizing: border-box; */
    display: inline-block
}

#container-list-two{
    width: 20%;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0.5em;
    display: inline-block
}

/* Insert subList style */

#new-sub-task{
    /* box-sizing: border-box; */
    width: 100%;
    margin: 0.5em;
    height: 1.5em;
    font-size: 0.8em; 
    background-color:#e2e4e6;
    list-style: none;
    color: #59595a;
    text-align: left
} 

